{% extends "bos/base.html" %}
{% block page_header %}
  <h3>Submitted BOS's</h3>
{% endblock page_header %}
{% block content %}
<ul>
  {% for bos in bos %}
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h4 class="card-header"><a href="{% url 'bos:show bos' bos.id %}">{{ bos }}</a> <b>{{bos.Topic}}</b> On {{bos.date_added}} in {{bos.Area}}</h4>
      <p>{{ bos.Comments }}</p>
    </div>
    {% empty %}
       <li>No BOS's have been submitted.</li>
    {% endfor %}
</ul>
{% endblock content %}